#historyContainer{
    width: 60%;
    margin: auto;
    margin-top: 40px;

}

.HistoryTitle{
    margin-left: 4%;
}

.box{
    display: inline-block;
    background-color: rgb(227, 205, 188);
    width: 100%;
    margin: auto;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 10px;
    height: 180px;
}

.boxLeft{
    float: left;
    width: 18%;
    display: block;
    align-items: center;
    text-align: center;
}

.boxLeft img{
    width: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 20%;
    margin-bottom: 20%;
}

.boxCenter{
    float: left;
    width: 33%;
}

.boxRight{
    float: right;
    margin-right: 0px;
    width: 25%;
}

.profilePicture{
    font-size: 90px;
    
}


.consultations{
    list-style: none;
    margin: 0;
    padding: 0;
}

.boxCenterBottom{
    bottom: 0;
    margin-top: 8%;
}

.boxCenterCenter{
    margin-top: 8%;
}

.Reschedule{
    padding: 9px 25px;
    background-color: #6bba62;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    align-items: center;
    margin-top: 30%;
    float: right;
    margin-right: 13%;
}

.price{
    margin: 0;
    padding: 0;
    margin-top: 10%;
    float: right;
    margin-right: 15%;
}