*{
    font-family:Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

#homepage-top{
    padding: 5% 10% 10% 10%;
    background: url("src/money-pot.jpg");    
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#homepage-top h1{
    display: flex;
    font-weight: bold;
    font-size: 3rem;
}

#homepage-top h3{
    display: flex;
    font-size: 1.5  rem;
}

.category-content{
    max-width: 130px;
    min-width: 140px;
    text-align: center;
    background-color: white;
    padding: 3%;
    margin-right: 10%;
}

.category-content img{
    width: 100%;
    margin-bottom: 10px;
}

.category-content a{
    text-decoration: none;
    color: black;
}

.category{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-top: 5%;
}

about-us-hr{
    border: solid 2px #a23131;
    max-width: 20%;
    margin: auto;
}

#about-us{
    background-color: white;
    padding: 5% 10%;
    text-align: center;

}

#about-us h1{
    font-size: 3rem;
    text-align: center;
}

.about-us-text{
    margin-bottom: 3%;
}

.about-us-img{
    max-width: 80%;
    object-fit: cover;
    background-color: blue;
    margin-bottom: 2%;
}

.about-us-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
    margin-top: 50px;
}

.about-us-box{
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
    background-color: #f6f6f6;
    align-items: center;
}

.about-us-box div img{
    display: block;
}

.about-us-box h3,p{
    text-align: justify;
    padding: 5px;
    margin-left: 10px;
}

.about-us-box h3{
    color: #00a651;
}

.about-us-box img{
    width: 100px;
}



#contact-us{
    padding: 5% 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: 	#A60E00;
}

#contact-us h1{
    font-size: 3rem;
    color: white;
}

.email-contact{
    background-color: white;
    padding: 20px;
    font-size: 1.5rem;
}

.email-contact input{
    width: 300px;
    padding: 10px;
}

.email-contact #content{
    resize: none;
    width: 300px;
    height: 100px;
    padding: 10px;
}